body {
    margin: 1rem;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .7rem;
    width: 100%;
    height: 30rem;
}

.grid__item--1 {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grid__item--2 {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grid__item--3 {
    grid-column: 1 / 3;
    grid-row: 3 / 6;
}

.grid__item--4 {
    grid-column: 3 / 4;
    grid-row: 3 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #abb6ff;
    border-radius: .5rem;
    color: white;
}

.grid__item--5 {
    grid-column: 4 / 5;
    grid-row: 3 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #7185ff;
    border-radius: .5rem;
    color: white;
}

.grid__item--6 {
    grid-column: 3 / 5;
    grid-row: 5 / 6;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #243cd3;
    border-radius: .5rem;
    color: white;
}

.grid__item--1-logo {
    width: 2rem;
    height: 2rem;
}

.grid__item--2-title {
    margin: 0;
}

.grid__item--3-img {
    background-size: cover;
    border-radius: .5rem;
    height: 100%;
    object-fit: cover;
    object-position: left center;
}

/* ¿cómo hago para que en versión móvil se quede bien a una columna? */

@media screen and (max-width: 500px) { /* por la pantalla de móvil */
    .grid__item--3 {
        grid-column: 1 / 5;
    }

    .grid__item--4 {
        grid-column: 1 / 3;
        grid-row: 6 / 7;
        padding: 1rem;
    }

    .grid__item--5 {
        grid-column: 3 / 5;
        grid-row: 6 / 7;
        padding: 1rem;
    }

    .grid__item--6 {
        grid-column: 1 / 5;
        grid-row: 7 / 8;
        padding: 1rem;
    }
}